body {
	text-align: center;
	margin: 0;
}
header {
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px; 
}
nav {
	background-color: #00a6b3;
	color: #ffffff;
	padding: 20px 0;
}
main {
	width: 850px;
	margin: 35px auto;
}
h1 {
font-family: "Raleway", sans-serif;
color: #0D2C40;
letter-spacing: 1px;
font-weight: 400;
font-size: 45px;
text-transform: uppercase;
margin: 0;
}
h4 {
	font-family: "Raleway";
	color: #0D2C40;
	letter-spacing: 3px;
	font-weight: 400;
	font-size: 15px;
}
a {
	font-family: "Raleway", sans-serif;
	color:#f15b31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-bottom: 2px solid white;
}
h2{
	font-family: "Raleway", sans-serif;
	color:#0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}
p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;
}
img {
	margin: 40px 8px 0;
}
footer {
	text-transform: uppercase;
	padding: 20px 20px 0 0;
	background-color: #0D2C40;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #f15b31;
	font-weight: 700;
}
